/**
 * MAIN COLORS
 * red           = #774478
 * alternate red = #9d6f93
 */

/**
 *
 * 
 * 1. CSS RESET
 *
 * 
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
    background: #fff;
    font-family: 'Lato', sans-serif;
    color: #999;

}
html {

}

.no-gutter > [class*='col-md-3'] {
    padding-right:0;
    padding-left:0;
}

.row.no-gutter [class*='col-']:first-child {
  padding-right:0;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    color: #774478;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
}
a:hover {
    color: #9d6f93;
}
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

h1, h2 {
    color: #666;
}

h1 {font-size: 42px;}
h2 {font-size: 34px;}
h3 {font-size: 28px;}
h4 {font-size: 22px;}
h5 {font-size: 16px;}
h6 {font-size: 8px;}

p {
    margin: 5px 0;
    line-height: 22px;
}


/**
 *
 * 
 * 2. HEADER SECTION (menu&slider)
 *
 * 
 */
#topContainer {
    width: 100%;
    position: fixed;
    background: url('../img/NY-skyline-temp.jpg') no-repeat center;
    background-size: cover;
    top: 0;
    z-index: 1;
}

#contentWrapper {
    position: relative;
    z-index: 10;
    top: 0px;
    overflow-x:hidden;
/*    transition: all 0.5s;
    -webkit-transition: all 0.5s;*/
}


#navigationWrap {
    position: relative;
    margin: 50px 0 30px;
    width: 100%;
}

.menuWrap {
    text-align: right;
}

.mainMenu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: 80px;
}

.mainMenu li {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.mainMenu li a {
    color: #fff;
    line-height: 14px;
    padding: 10px 20px;
    text-decoration: none;
    background: transparent;
    -webkit-border-radius: 350px;
    -moz-border-radius: 350px;
    border-radius: 350px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.menuActive a {
    color: #9d6f93 !important;
    background: #fff !important;
}

.mainMenu li a:hover {
    color: #9d6f93;
    background: #fff;
}

#followMenu {
    width: 100%;
    position: fixed;
    background:rgba(255, 255, 255, 0.95); 
    background-size: cover;
    padding: 20px 0;
    z-index: 20;
    overflow: hidden;
    display: none;
    text-align: center;
    border-bottom: 1px solid #e1e1e1;
}

#followMenu .mainMenu li a {
    color: #ccc;
}

#followMenu .mainMenu li a:hover, #followMenu .mainMenu .menuActive a{
    background: #774478 !important;
    color: #fff !important;
}

#followMenu img {
    max-height: 100%;
    height: 40px;
}

#followMenu .mainMenu {
    margin: 0 auto;

}

.sliderText {
    font-size: 18px;
    line-height: 80px;
    color: #fff;
    font-weight: 500;
    text-align: center;
}

.sliderText span{
    font-weight: 300;
    font-size: 30px;
    letter-spacing:0.1em;
    text-transform:uppercase; 
}

.sliderButtonWrap {
}

.sliderButtonWrap a {
    margin: 0px 15px;
}

.ls-bottom-nav-wrapper {
    bottom: 30%;
    right: 48%;
    position: absolute !important;
}

.ls-bottom-slidebuttons a {
    /*display: block !important;*/
}

#responsiveMenuToggle {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 20;
    padding: 10px;
    font-size: 30px;
    background: #774478;
    display: none;
}

#responsiveMenuToggle {
    cursor: pointer;
    color: #fff;
}

/**
 *
 * 
 * 3. GENERAL SECTION STYLES
 *
 * 
 */
.section-80-130 {
    padding: 50px 0 60px;
}

.section-80-80 {
    padding: 70px 0px 0px;
}

.section-160-160 {
    padding: 40px 0 50px;
}

.section-getstarted {
    padding: 20px 0 20px;
}

.section-160-30 {
    padding: 0px 0px 15px 0px;   
}

.whiteBgSection {
    background: #fff;
    position: relative;
}

.grayBgSection {
    position: relative;
    background: #f5f5f5;
}

.textureBgSection {
    position: relative;
    /*background-attachment:fixed;*/
    background-repeat: none; 
    background-size: cover;
    background-color: #7d0e52;
/*    background-image:
    linear-gradient(
      #7d0e52, #ab2053, #ab2053, #7d0e52
    );*/
    background-position: 0 0; 
}


/**
 *
 * 
 * 4. SECTION TYPO & DETAILS
 *
 * 
 */
.sectionTitle, .sectionDescription{
    text-align: center;
}

.sectionTitle {
    font-size: 50px;
    line-height: 5px;
    font-weight: 300;
}

.sectionDescription {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
}

.titleSeparator {
    width: 100px;
    height: 4px;
    margin: 3em auto;
    background: #774478;
}

.grayBgSection, .whiteBgSection {
    color: #999999;
}

.textureBgSection {
    color: #fff;
}

.textureBgSection .sectionTitle, .textureBgSection .sectionDescription {
    color: #fff;
}

.textureBgSection .titleSeparator {
    background: #fff;
}

.hide-desktop {
    display: none;
}


/**
 *
 * 
 * 5. SEPARATORS AND TRIANGLES
 *
 * 
 */
.separator80 {
    height: 80px;
}

.separator160 {
    height: 80px;
}

.separator50 {
    height: 50px;
}


.alignTextCenter {
    text-align: center;
}

.triangleTop {
    position: absolute;
    top: -160px;
    width: 100%;
    height: 160px;
    display: block;  
    z-index: 99; 
}

.triangleBottom {
    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 160px;
    display: block;
    z-index: 99;
}


/**
 *
 * 6. ICON COLUMNS
 * 
 */
/*center icon col*/ 

/*ICOMOON*/

.icon-order1:before {
    content: "\e600";
}

.iconColWrap {
    text-align: center;
}

.iconColWrap i.fa {
    min-width: 40px;
    font-size: 50px;
    border: 2px solid #774478;
    color: #774478;
    padding: 40px;
    background: transparent;
    -webkit-border-radius: 350px;
    -moz-border-radius: 350px;
    border-radius: 350px;
    cursor: default;
    transition: background 0.3s, color 0.3s;
    -webkit-transition: background 0.3s, color 0.3s;
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    margin-bottom: 35px;
}

.iconColWrap:hover i.fa {
    color: #fff;
    background: #774478;
}

.iconColWrap h2 {
    font-size: 24px;
    font-weight:700;
    color: #666;
    margin-bottom: 10px;
    line-height: 28px;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
}

.iconColWrap:hover h2 {
    color: #774478;
}


.iconColWrap p {
    font-size: 16px;
    color: #999999;
    font-weight: 500;
    line-height: 22px;
}

/*right icon col*/ 
.iconRightColWrap {
    transform: translate(0, 0) translate3d(0px, 0px, 0px);
    -webkit-transform: translate(0, 0) translate3d(0px, 0px, 0px);
    transition: transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
    margin-bottom: 40px;
}

.iconRightColWrap:hover {
    transform: translate(-10px, 0);
    -webkit-transform: translate(-10px, 0);
}

.rightColTextWrap {
    float: right;
    text-align: right;
    max-width: 70%;
    margin-right: 20px;
}

.iconRightColWrap i.fa {
    font-size: 32px;
    border: 2px solid #774478;
    color: #774478;
    padding: 25px;
    background: transparent;
    -webkit-border-radius: 350px;
    -moz-border-radius: 350px;
    border-radius: 350px;
    cursor: default;
    transition: background 0.3s, color 0.3s;
    -webkit-transition: background 0.3s, color 0.3s;
    float: right;
    min-width: 30px;
    text-align: center;
}

.iconRightColWrap:hover i.fa {
    color: #fff;
    background: #774478;
}

.iconRightColWrap h2 {
    font-size: 24px;
    color: #666;
    margin-bottom: 10px;
    line-height: 28px;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
}

.iconRightColWrap:hover h2 {
    color: #774478;
}


.iconRightColWrap p {
    font-size: 16px;
    color: #999999;
    font-weight: 300;
    line-height: 22px;
}

/*left icon col*/ 
.iconLeftColWrap {
    transform: translate(0, 0) translate3d(0px, 0px, 0px);
    -webkit-transform: translate(0, 0) translate3d(0px, 0px, 0px);
    transition: transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
    margin-bottom: 40px;
}

.iconLeftColWrap:hover {
    transform: translate(10px, 0);
    -webkit-transform: translate(10px, 0);
}

.leftColTextWrap {
    float: left;
    text-align: left;
    max-width: 70%;
    margin-left: 20px;
}

.iconLeftColWrap i.fa {
    font-size: 32px;
    border: 2px solid #774478;
    color: #774478;
    padding: 25px;
    background: transparent;
    -webkit-border-radius: 350px;
    -moz-border-radius: 350px;
    border-radius: 350px;
    cursor: default;
    transition: background 0.3s, color 0.3s;
    -webkit-transition: background 0.3s, color 0.3s;
    float: left;
    min-width: 30px;
    text-align: center;
}

.iconLeftColWrap:hover i.fa {
    color: #fff;
    background: #774478;
}

.iconLeftColWrap h2 {
    font-size: 24px;
    color: #666;
    margin-bottom: 10px;
    line-height: 28px;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
}

.iconLeftColWrap:hover h2 {
    color: #774478;
}

.iconLeftColWrap p {
    font-size: 16px;
    color: #999999;
    font-weight: 300;
    line-height: 22px;
}

/**
 *
 * 7. BUTTONS
 * 
 */
.buttonBig, .dlButton {
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
    padding: 18px 35px;
    border: 2px solid #fff;
    -webkit-border-radius: 350px;
    -moz-border-radius: 350px;
    border-radius: 350px;
    transform: translate3d(0px, 0px, 0px);
    display: inline-block;
    background-color:transparent;
    transition: color 0.3s, background-color 0.3s !important;
    -webkit-transition: color 0.3s, background-color 0.3s !important;
}

.buttonBig:hover, .dlButton:hover {
    background: #fff;
    color: #9d6f93;
}

.dlButton {
    font-size: 24px;
    text-align: left;
    padding: 8px 35px 8px 15px;
    margin: 0 15px;
    z-index: 5;
    position: relative;
}

.dlButton i {
    float: left;
    font-size: 34px;
    margin-right: 18px;
    margin-top: 4px;
}

.dlButton .dlButtonWrap {
    font-size: 14px;
    float: right;
}

.dlButton .dlButtonSmall {
    font-size: 24px;
}


/**
 *
 * 
 * 8. REVIEWS
 *
 * 
 */
.testWrapper {
    overflow: hidden;
}

.revViewport {
    width: 10000px;
    position: relative;
    transform: translate(0px, 0px) translate3d(0px, 0px, 0px);
    -webkit-transform: translate(0px, 0px) translate3d(0px, 0px, 0px);
    transition: transform 0.8s;
    -webkit-transition: -webkit-transform 0.8s;
}

.revWrap {
    display: block;
    float: left;
    opacity: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.revWrapActive {
    opacity: 1 !important;
}

.revLeft {
    float: left;
    width: 100px;
    max-width: 100px;
    position: relative;
}

.revRight {
    float: right;
    width: 600px;
    position: relative;
}


.revCustomer {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
    position: relative;
}

.revBubble {
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 30px 40px;
}


.arrowLeftRev {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #fff; 
    position: absolute;
    left: -10px;
    top: 45px;
}

.revText {
    color: #774478;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 10px;
}

.revAuthor {
    font-size: 18px;
    line-height: 28px;
    color: #999999;
}

.revStars {
    vertical-align: middle;
    margin-left: 8px;
}

#revsNavi {
    text-align: center;
    margin: 60px auto 0;
}

.revBullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #774478;
    margin-right: 10px;
    cursor: pointer;
}

.revBulletActive {
    background: #774478;
    cursor: default;
}


/**
 *
 * 
 * 9. SCREENS
 *
 * 
 */
.screenImg {
    background: #fff;
    padding: 8px;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    transition: border-color 0.4s;
    -webkit-transition: border-color 0.4s;
    max-width: 261px;
}

.screenImg:hover {
    border-color: #774478;
}

#screensViewportWrap {
    position: relative;
}

#screensOfHide {
    overflow: hidden;
}

#screensWrap {
    text-align: center;
}

#screensWrapOuter {
    width: 10000px;
    position: relative;
    transform: translate(0px, 0px) translate3d(0px, 0px, 0px);
    -webkit-transform: translate(0px, 0px) translate3d(0px, 0px, 0px);
    transition: transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
}

.screen-item {
    /*max-width: 20%;*/
    /*margin: 0 2% 30px;*/
}

.screen-item img {
    display: block;
}

#screensWrap span {
    margin-top: 30px;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
}

.screensFilters {
    text-align: center;
    margin: 0 auto 70px !important;
}

/*button, input[type="submit"] {
    text-transform: uppercase;
    background: #fff;
    border: 2px solid #cccccc;
    color: #999;
    font-weight: 500;
    margin: 0 5px;
    padding: 8px 20px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;   
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s, background 0.3s, border-color 0.3s;
    -webkit-transition: color 0.3s, background 0.3s, border-color 0.3s;
    outline: 0 transparent;
}

button.active, button:hover, input[type="submit"]:hover {
    color: #fff;
    background: #774478;
    border-color: #774478;
}*/

.screensArrows {
    position: absolute;
    top: 50%;
    font-size: 32px;
    margin-top: -30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #cccccc;
    padding: 5px 15px; 
    line-height: 32px;
    color: #cccccc;
    transition: color 0.3s, background 0.3s, border-color 0.3s;
    -webkit-transition: color 0.3s, background 0.3s, border-color 0.3s;
    opacity: 0.5;
    z-index: 5;
}

.screensArrows i {
    cursor: default;
}

.screensArrowsActive, .screensArrowsActive i { 
    cursor: pointer;
    opacity: 1;
}

.screensArrowsActive:hover {
    color: #fff;
    border-color: #fff;
    background: #774478;
}

#screensLeftAr i {
    margin-right: 2px;
}

#screensRightAr i {
    margin-left: 2px;
}

#screensLeftAr {
    left: -80px;
}

#screensRightAr {
    right: -80px;
}

.screenImg {
    min-height: 495px;
}

/**
 *
 * 
 * 10. DEMO
 *
 * 
 */
.embed-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; max-width: 100%; height: auto; } 
.embed-container iframe, .embed-container object, 
.embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.floatingPhone {
    position: absolute;
    width: 40%;
    height: 100%;
    right: 0;
    bottom: -100px;

    background: url('../img/demoimg/phone2.png') no-repeat;
    background-position: 0% 100%;
    background-size: cover;

}


/**
 *
 * 
 * 11. FORMS
 *
 * 
 */
/*input:not([type=submit])  {
    width: 85%;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 15px 16px;
    border: 2px solid #cccccc;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;  
    color: #666; 
    transition: border-color 0.6s;
    -webkit-transition: border-color 0.6s;
}

textarea {
    width: 85%;
    padding: 15px 16px;
    font-size: 16px;
    resize: vertical;
    margin-bottom: 20px;
    border: 2px solid #cccccc;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    color: #666; 
    font-family: 'Roboto', sans-serif;
    transition: border-color 0.6s;
    -webkit-transition: border-color 0.6s;
}


input:focus, textarea:focus {
    outline: 0 transparent;
    border-color: #774478;
}

input[type="submit"]  {
    font-size: 18px;
    padding: 15px 50px;
    margin: 0;
    color: #774478;
    border-color: #774478;
}

.del-fa {
    font-size: 26px;
    border: 2px solid #774478;
    color: #774478;
    padding: 12px;
    min-width: 26px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#formSubmitMessage {
    margin: 20px 0;
}

.fa-form-wait {
    margin-left: 10px;
    margin-top: 20px;
}*/

.footerContact td {
    vertical-align: middle;
    padding-bottom: 20px;
}

.iconTd {
    width: 25%;
}

/**
 *
 * 
 * 12. FOOTER
 *
 * 
 */
.footer {
    width: 100%;
    background-color:#f5f5f5;
/*    background: url('../img/background.jpg') no-repeat center;
    background-size: cover;    */
    text-align: center;
    font-size: 14px;
    color: #fff;
    right: 0
    bottom: 0
    left: 0
    position: absolute;
}

.footer p {
    font-size: 14px;
    color: #fff;
    line-height: 24px;    
}

.footer i.fa {
    font-size: 15px;
    border: 2px solid #8d6e97;
/*    color: #774478;*/
    color: #8d6e97;
    background-color:white;
    padding: 6px;
    min-width: 26px;
    background: transparent;
    -webkit-border-radius: 350px;
    -moz-border-radius: 350px;
    border-radius: 350px;
    transition: background 0.3s, color 0.3s;
    -webkit-transition: background 0.3s, color 0.3s;
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    margin: 0px 10px;
    text-align: center;
    width:30px;
    height:30px;
}

.footer i.fa:hover {
    color: #774478;
    border: 2px solid #fff;
    background: #fff;
}

.footer p a {
    color: #3e3d3f;
}

/*#footerContainer li {
    list-style-type: none;
    float:left;
    margin: 0 auto;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.footermenu {
    margin: 0;
    padding: 0;
    position: relative;
}*/

.footerMenu {
    list-style: none;
    margin: 0;
    margin-top:20px;
    padding: 0;
    position: relative;
/*    margin-top: 80px;*/
}

.footerMenu ul {
    width:100%;
    text-align:center;
}

.footerMenu li {
    display: inline-block;
/*  margin-left: 10px;*/
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    width:7%;
}

.footerMenu li a {
/*    color: #363836;*/
color:#bfbfbf;
/* line-height: 14px;
   padding: 10px 20px;
   text-decoration: none;
    background: transparent;
    -webkit-border-radius: 350px;
    -moz-border-radius: 350px;
    border-radius: 350px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;*/
}

.menuActive a {
    color: #774478 !important;
/*    background: #fff !important;*/
}

.footerMenu li a:hover {
    color: #fff;
    border-bottom: 2px solid;
    text-decoration: none;
}

.getstarted{
    color:#fff;
    padding:-20px 0px 0px 0px;
    font-size:20px;
    font-weight:700;
    text-align: center;
}

.getstarted a {
    color:#fff;
    text-decoration:none;
}

.getstarted span{
    display:block;
}

hr.getstartedline {
    padding: 0;
    border: none;
    border-top: solid #fff;
    color: #fff;
    text-align: center;
}


/**
 *
 * 
 * SAVE TIME AND MONEY
 *
 * 
 */
.save-caption {
    line-height: 1.5em;
    font-size:140%;
}


.fs-continue::after {
        content: '' !important;
 }

/* save time money animation */
@-webkit-keyframes rotate-bar{
  0%{
    -webkit-transform: rotate(0deg);
  }
  25%{
    -webkit-transform: rotate(4deg);
  }
  50%{
    -webkit-transform: rotate(-4deg); 
  }
  100%{
    -webkit-transform: rotate(0deg);
  }
}

@-webkit-keyframes bounce-left{
  0%{
    transform:translateY(0);
  }
  25%{
    transform:translateY(-15%) rotate(8deg); 
  }
  50%{
    transform:translateY(15%) rotate(-8deg);
  }
  100%{    
    transform:translateY(0);
  }
}
@-webkit-keyframes bounce-right{
  0%{
    transform:translateY(0);
  }
  25%{
    transform:translateY(15%) rotate(8deg); 
  }
  50%{
    transform:translateY(-15%) rotate(-8deg); 
  }
  100%{    
    transform:translateY(0); 
  }
}

.do-anim.im-left{
  -webkit-animation-name: bounce-left; 
  /*-webkit-animation-duration: 5s;
  -webkit-animation-delay: 2s;*/
}

.do-anim.im-right{
  -webkit-animation-name: bounce-right; 
 /* -webkit-animation-duration: 5s;
  -webkit-animation-delay: 2s;*/
}

.do-anim.im-bar{
  -webkit-animation-name: rotate-bar; 
 /* -webkit-animation-duration: 5s;
  -webkit-animation-delay: 2s;*/
}
.do-anim{
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 1s;   
}
/* save time money animation */